name: Validate PR conventions
permissions:
    contents: read

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize

jobs:
    lint-pr:
        name: Ensure PR follows conventional commits
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: read
        steps:
            - uses: amannn/action-semantic-pull-request@v4
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  validateSingleCommit: true
                  validateSingleCommitMatchesPrTitle: true
