@keyframes idkit-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.idkit-spinner {
  animation: idkit-spin 1s linear infinite;
}

.idkit-spinner svg {
  display: block;
  width: 24px;
  height: 24px;
}
